# Requirements to run the tool
fastapi
uvicorn
gunicorn
pydantic
python-multipart
PyMuPDF
transformers
Pillow
opencv-python-headless
opencv-python
requests
torch
torchvision
accelerate
streamlit
easyocr
PyPDF2
matplotlib
scikit-learn
scikit-image
gradio
pytest

